/* GLOBAL */
project_id = "<my-first-project>"
region     = "<my-region>"

/* VPC */
network_name            = "terraform-vpc"
description             = "My Test VPC"
routing_mode            = "REGIONAL"
auto_create_subnetworks = "false"
mtu                     = 1460


/* SUBNET */
subnets = [
  {
    subnet_name           = "subnet-01"
    subnet_ip             = "172.16.1.0/24"
    subnet_region         = "<my-region>"
    subnet_private_access = "true"
    subnet_flow_logs      = "false"
    description           = "This subnet is public"
  },
  {
    subnet_name           = "subnet-02"
    subnet_ip             = "172.16.2.0/24"
    subnet_region         = "<my-region>"
    subnet_private_access = "true"
    subnet_flow_logs      = "false"
    description           = "This subnet is public"
  },
  {
    subnet_name           = "subnet-03"
    subnet_ip             = "172.16.3.0/24"
    subnet_region         = "<my-region>"
    subnet_private_access = "true"
    subnet_flow_logs      = "true"
    description           = "This subnet is private"
  },
]

secondary_ranges = {
  subnet-03 = [
    {
      range_name    = "subnet-03-secondary-01"
      ip_cidr_range = "10.1.0.0/16"
    },
    {
      range_name    = "subnet-03-secondary-02"
      ip_cidr_range = "10.2.0.0/16"
    },
  ]
}